**/target/
**/*.class
**/*.jar
**/*.war
.idea/
**/*.iml
.vscode/
.DS_Store


**/wallet/
**/*.p12
**/*.sso
**/*.jks
**/ewallet*
**/cwallet*

# Variables locales
**/.env
**/application-local.properties
